@import url("https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe&family=Bebas+Neue&family=Dancing+Script:wght@400;600&family=Qwitcher+Grypen&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #fffaf1;
}
body header {
  background-color: #004c36;
  box-shadow: rgba(138, 138, 138, 0.863) 0px 5px 15px;
}
body header nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
body header nav .logo-img {
  max-height: 100px;
}
body header nav input {
  display: none;
}
body header nav label {
  width: 35px;
  padding: 31px;
}
body header nav .menu {
  color: #92845a;
  font-size: 35px;
  font-family: "Qwitcher Grypen", sans-serif;
  text-shadow: 0 8px 9px #aaadae, 0 -1px 1px #fff;
  max-height: 0;
  flex-basis: 100%;
  list-style-type: none;
  overflow: hidden;
}
body header nav li {
  padding: 0px 10px;
}
body .container {
  margin: 20px 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
body .container div {
  padding: 10px;
  min-width: 150px;
  position: relative;
  text-align: center;
}
body .container div img {
  width: 244px;
  height: 183px;
}
body .container div h3 {
  color: #fff;
  font-size: 45px;
  text-shadow: black 2px 6px 5px;
  text-shadow: #433d29 2px 2px;
  font-family: "Qwitcher Grypen", sans-serif;
  position: absolute;
  top: 30%;
  left: 29%;
}
body .container div p {
  font-family: "Courier New", Courier, monospace;
  color: black;
  font-size: 0px;
  text-shadow: rgb(255, 255, 255) 2px 2px;
  -webkit-text-stroke: black 0.5px;
  position: absolute;
  top: 60%;
  left: 14%;
}
body header nav .menu li:hover {
  cursor: pointer;
  font-size: 40px;
  -webkit-animation-name: bigger-menu35;
          animation-name: bigger-menu35;
  -webkit-animation-duration: 0.2s;
          animation-duration: 0.2s;
}
body .container div:hover {
  cursor: pointer;
}
body .container div:hover img {
  box-shadow: black 0px 5px 15px;
  filter: brightness(60%) blur(2px);
}
body .container div:hover h3 {
  font-size: 50px;
  -webkit-animation-name: bigger-menu45;
          animation-name: bigger-menu45;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
}
body .container div:hover p {
  font-size: 20px;
  -webkit-animation-name: bigger-text20;
          animation-name: bigger-text20;
  -webkit-animation-duration: 0.2s;
          animation-duration: 0.2s;
}
body input:checked ~ .menu {
  max-height: unset;
  background-color: hwb(339 90% 3%);
  -webkit-animation-name: transition-menu;
          animation-name: transition-menu;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}
@media screen and (min-width: 600px) {
  body header {
    flex-wrap: nowrap;
  }
  body header nav label {
    display: none;
  }
  body header nav .menu {
    background-color: #004c36;
    color: #c3b079;
    min-width: 30px;
    display: flex;
    flex-basis: auto;
    padding: 30px 30px;
    max-height: 35px;
  }
}

@-webkit-keyframes transition-menu {
  from {
    max-height: 0;
  }
  to {
    max-height: 150px;
  }
}

@keyframes transition-menu {
  from {
    max-height: 0;
  }
  to {
    max-height: 150px;
  }
}
@-webkit-keyframes bigger-text35 {
  from {
    font-size: 35px;
  }
  to {
    max-height: 40px;
  }
}
@keyframes bigger-text35 {
  from {
    font-size: 35px;
  }
  to {
    max-height: 40px;
  }
}
@-webkit-keyframes bigger-text20 {
  from {
    font-size: 15px;
  }
  to {
    max-height: 20px;
  }
}
@keyframes bigger-text20 {
  from {
    font-size: 15px;
  }
  to {
    max-height: 20px;
  }
}
@-webkit-keyframes bigger-text45 {
  from {
    font-size: 45px;
  }
  to {
    max-height: 50px;
  }
}
@keyframes bigger-text45 {
  from {
    font-size: 45px;
  }
  to {
    max-height: 50px;
  }
}/*# sourceMappingURL=styleIndex1.css.map */